body {
  font-family: 'Helvetica Neue', Helvetica, arial, sans-serif;
}

.viewport-slider-item {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.viewport-slider-button {
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  opacity: .7;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: opacity .35s;
}

.viewport-slider-button:hover {
  opacity: 1;
  width: 45px;
}

/* HOME PAGE */
.page-one {
  color: #de76b7;
  opacity: .9;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: -2px;
  margin: 0;
  margin-right: 40%;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  font-family: 'Slabo';
}

.buttons {
  font-size: 45px;
  font-weight: bold;
  flex-direction: column;
  font-family: 'Slabo';
}

.bio {
  font-family: 'Slabo';
  display: grid;
    grid-template-rows: 60px 135px;
    grid-template-columns: max-content;
    margin-right: auto;
    padding-left: 45px;
}

.Particles {
  height: 80%;
  position: fixed;
  width: 80%;
}

.Header {
  padding-bottom: 450px;
}

/* ARTWORK */

.Artwork {
  align-items: center;
  background-color: #555;
  width: 100%;
  height: 100%;
  position: inherit;
}

#art-text {
  font-family: 'Slabo';
  font-size: 54px;
  flex-direction: column;
  font-weight: bold;
  display: flex;
  text-align: center;
  letter-spacing: -2px;
}

#art-button {
  border: solid 1px  #fff;
  opacity: .7;
  padding: 12px;
  text-align: center;
  text-transform: uppercase;
  transition: opacity .35s;
  width: 55px;
  margin-left: 250px;
}

#art-button:hover {
  opacity: 1;
  width: 57px;
}

#splash {
  margin: 0;
  margin-left: 15%;
}

.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
    grid-auto-rows: auto;
    grid-auto-flow: dense;
}

.horizontal {
  grid-column: span 2;
  grid-row: span 2;
  max-width: 300px;
}






.wrapper {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 100px;
  grid-template-areas:
    "a a a a b b b b"
    "a a a a b b b b"
    "c c c c d d d d"
    "c c c c d d d d";
  align-items: start;
}
.item1 {
  grid-area: a;
}
.item2 {
  grid-area: b;
}
.item3 {
  grid-area: c;
}
.item4 {
  grid-area: d;
}