body {
  font-family: 'Helvetica Neue', Helvetica, arial, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.viewport-slider-item {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.viewport-slider-button {
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  opacity: .7;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: opacity .35s;
}

.viewport-slider-button:hover {
  opacity: 1;
  width: 45px;
}

/* HOME PAGE */
.page-one {
  color: #fd89d1;
  opacity: .9;
  font-size: 65px;
  font-weight: bold;
  letter-spacing: -2px;
  margin: 0;
  margin-right: 40%;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  font-family: 'Slabo';
}

.buttons {
  font-size: 50px;
  font-weight: bold;
  flex-direction: column;
  font-family: 'Slabo';
}


.bio {
  font-family: 'Dosis';
  display: grid;
  grid-template-rows: 30px 135px;
  grid-template-columns: max-content;
  margin-right: auto;
  padding-left: 45px;
}

.Particles {
  height: 80%;
  position: fixed;
  width: 80%;
}


/* ARTWORK */

.Artwork {
  align-items: center;
  background: linear-gradient(white 20%, grey 70%);
  width: 100%;
  height: 1024px;
  position: inherit;
}

#art-text {
  font-family: 'Slabo';
  font-size: 54px;
  flex-direction: column;
  font-weight: bold;
  display: flex;
  text-align: center;
  letter-spacing: -2px;
}

#art-button {
  border: solid 1px  #fff;
  opacity: .7;
  padding: 12px;
  text-align: center;
  text-transform: uppercase;
  transition: opacity .35s;
  width: 55px;
  margin-left: 250px;
}

#art-button:hover {
  opacity: 1;
  width: 57px;
}

#splash {
  margin: 0;
  margin-left: 15%;
}

.container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
  grid-auto-rows: auto;
  grid-auto-flow: dense;
}

.horizontal {
  grid-column: span 2;
  grid-row: span 2;
  max-width: 300px;
}

.wrapper {
  display: grid;
  grid-template-columns: 2fr;
  grid-column-gap: 10px;
  justify-items: center;
}

.Undertow {
  align-items: center;
  background-color: 'white';
  width: 100%;
  height: 100%;
  position: inherit;
}

@media screen and (min-width: 600px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}

@media screen and (min-width: 1300px) {
  .wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.item1 {
  grid-area: a;
}
.item2 {
  grid-area: b;
}
.item3 {
  grid-area: c;
}
.item4 {
  grid-area: d;
  grid-column: 1;
  grid-row: 3;
}

.header-links{
  font-family: 'Inconsolata';
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  padding: 1.5vw;
  font-size: 20px;
  text-shadow: 2px 2px 5px #666;
  text-transform: uppercase;
}

#footer {
  display: flex;
  justify-content: center;
  left: 0;
  bottom: 0;
  position: absolute;
  height: 12%;
  width: 100%;
  padding-top: 2px;
  padding-bottom: 8px;
}